.cards {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 320px;
    padding: 10px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;   
}
.card>img {
    margin: 10px 0 10px 0;
    object-fit: cover;
    width: 100%;
   
}